.NavBar {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    top: 0px;
    left: 0px;
    height: 70px;
    z-index: 1;
    background-image: url(/src/assets/Nav.png) !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 0.5s ease-in-out;
}

.NavBar:hover {
    opacity: 80%;
    background-image: url(/src/assets/Nav2.png) !important;
    background-repeat: repeat;
    background-size: contain;

}

.NavLogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 70px;
    min-height: 70px;
    padding: 0px 1.5rem;
    align-content: center;
}


.NavIcon {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 10;
    transition: 0.5s ease-in-out all;
}

.NavIcon:hover {
    transform: scale(1.2);
}

.NavDir {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: larger;
    color: blue;
}