/* =================================================================
    * CONFIGURATION *
==================================================================*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =================================================================
    * VARIABLES *
==================================================================*/
:root {
  --container-width: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  line-height: 27px;
}

img {
  vertical-align: text-top;
  width: 100%;
}

a,
Link,
NavLink:-webkit-any-link {
  text-decoration: none;
  color: none;
  cursor: pointer;
}