/* =================================================================
    * FONTS LIST*
===================================================================*/
/*Prosto One*/
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

@font-face {
  font-family: Rick-Morty;
  src: url(./assets/get_schwifty.ttf) format(truetype);
}

.App {

  width: 100vw;
  height: 100vh;

  background-image: url("./assets/Rick-Morty.png");
  background-repeat: no-repeat;
  background-size: contain;

  overflow-x: hidden;
}


body {
  --font-Prosto: 'Prosto One', cursive;
}